body, html {
    background-color: black;
  }

.title {
    text-align: center;
    margin-top: 3em;
    padding: 3em;
};

.calculator {
    width: 100px;
    height: 500px;
    width: 200px;
    border: 5px solid white;
}