body, html {
    background-color: black;
  }

  .title {
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.calculator {
    width: 100px;
    height: 500px;
    width: 200px;
    border: 5px solid white;
}