  .title {
    font-family: 'Righteous', cursive;
    font-size: 85px;
    padding-right: 10%;
}

sup {
    font-size:xx-small; 
    vertical-align:super;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    margin-right: 200px;
}

.calculator {
    display: grid;
    grid-template-columns: 1% repeat(4 , 24.5%) 1%;
    grid-template-rows: 5% 20% repeat(5, 15%);
    grid-template-areas:
                        ". empty empty empty empty ."
                        ". input input input input ."               
                        ". clear delete power factorial ."
                        ". num7 num8 num9 division ."
                        ". num4 num5 num6 multiplication ."
                        ". num1 num2 num3 subtraction ."
                        ". num0 deci equal addition .";
    height: 500px;
    width: 300px;
    border-radius: 15px;
    border: thick double #A9A9A9;
    color: white;
    background-color: black;
}

.screen {
    background-color: black;
    border-radius: 2px;
    border: 1px solid black;
}

.button {
    justify-self: center;
    align-self: center;
}

.input {
    grid-area: input;
    width: auto;
    justify-self: end;
    align-self: end;
}

.clear {
    grid-area: clear;
}

.delete {
    grid-area: delete;
}

.power {
    grid-area: power;
}

.factorial {
    grid-area: factorial;
}

.divison {
    grid-area: divison;
}

.multiplication {
    grid-area: multiplication;
}

.division {
    grid-area: division;
}

.subtraction {
    grid-area: subtraction;
}

.decimal {
    grid-area: deci;
}

.equal {
    grid-area: equal;
}

.addition {
    grid-area: addition;
}

.num7 {
    grid-area: num7;
}

.num8 {
    grid-area: num8;
}

.num9 {
    grid-area: num9;
}

.num4 {
    grid-area: num4;
}

.num5 {
    grid-area: num5;
}

.num6 {
    grid-area: num6;
}

.num1 {
    grid-area: num1;
}

.num2 {
    grid-area: num2;
}

.num3 {
    grid-area: num3;
}

.num0 {
    grid-area: num0;
}
